body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(243, 176, 205) 0%, #907dff 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#konami {
    text-align: center;
    flex-direction: column;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0px;
}

.footer p {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}
.footer p span {
    font-size: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
}

a {
    color: white;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 70px;
    color: white;
    text-shadow: 0 0 15px white;
    margin-top: 0;
}

/* Anim KONAMI */
h1 span {
    transition: 1s ease;
}
h1:hover span {
    color: #fff;
    text-shadow: 0 0 15px white;
    cursor: pointer;
}

h1:hover span:nth-child(1n+0){
    margin-right: 10px;
    margin-left: 10px;
  }
h1:hover span:nth-child(1):after{
    content: "zuki";
    font-size: 50px;
    text-shadow: none;
}

h1:hover span:nth-child(2):after{
    content: "kama";
    font-size: 50px;
    text-shadow: none;
}

h1:hover span:nth-child(3):after{
    content: "atsuda";
    font-size: 50px;
    text-shadow: none;
}

h1:hover span:nth-child(4):after{
    content: "shihara";
    font-size: 50px;
    text-shadow: none;
}
/* */
p {
    font-family: 'VT323', monospace;
    font-size: 5vmin;
    margin: 0 10px 0 10px;
    color: white;
    line-height: 100px;
}

p span {
    background-color: #bdb2ff;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

i {
    color: white;
    height: fit-content;
}

p span.letter {
    font-size: 6vmin;
    padding: 13px 20px 15px 20px;
}

#konamiFound {
    visibility: hidden;
    width: 100vw;
    height: 100vh; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(243, 176, 205) 0%, #907dff 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#cerisier {
    width: 90%;
    filter: brightness(75%);
}

.congrats {
    position: absolute;
    text-align: center;
}

